F4XQRO_1008/XMLSchemaF4XQRO.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Interneten Generált-->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="vendeglatas">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="etterem" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="nev" type="xs:string" />
              <xs:element name="cim">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="varos" type="xs:string" />
                    <xs:element name="utca" type="xs:string" />
                    <xs:element name="házszám" type="xs:int" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="csillag" type="xs:int" />
            </xs:sequence>
            <xs:attribute name="ekod" type="xs:string" use="required" />
          </xs:complexType>
        </xs:element>
        <xs:element name="foszakacs" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="nev" type="xs:string" />
              <xs:element name="eletkor" type="xs:int" />
              <xs:element name="vegzettseg" type="xs:string" maxOccurs="unbounded"/>
            </xs:sequence>
            <xs:attribute name="fkod" type="xs:string" use="required" />
            <xs:attribute name="ekod" type="xs:string" use="required" />
          </xs:complexType>
        </xs:element>
        <xs:element name="szakacs" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="nev" type="xs:string" />
              <xs:element name="reszleg" type="xs:string" />
              <xs:element name="vegzettseg" type="xs:string"  maxOccurs="unbounded"/>
            </xs:sequence>
            <xs:attribute name="szkod" type="xs:string" use="required" />
          </xs:complexType>
        </xs:element>
        <xs:element name="gyakornok" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="nev" type="xs:string" />
              <xs:element name="gyakorlat">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="kezdete" type="xs:string" />
                    <xs:element name="Idotartam" type="xs:int" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="gykod" type="xs:string" use="required" />
          </xs:complexType>
        </xs:element>
        <xs:element name="vendeg" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="nev" type="xs:string" />
              <xs:element name="eletkor" type="xs:int" />
              <xs:element name="cim">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="varos" type="xs:string" />
                    <xs:element name="utca" type="xs:string" />
                    <xs:element name="házszám" type="xs:int" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="vkod" type="xs:string" use="required" />
          </xs:complexType>
        </xs:element>
        <xs:element name="rendelés" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="osszeg" type="xs:int" />
              <xs:element name="etel" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>